*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    scroll-padding-top:60px;
}
.con1 img{
    height:53px;
    width:110px;
}
#navbarNavDropdown{
    justify-content: flex-end;
    gap:70px !important;
}

body .row{
    --bs-gutter-x: unset;
}
.sec1card{
    top:200px !important;
    text-shadow: 0px 2px 0px black, 2px 0px 0px black,-1px 0px 0px black,0px -1px 0px black;
}
.sec1card h1{
    font-size:3.4rem !important;
    line-height:49px !important;
    letter-spacing: 2px !important;
}
.sec1card p{
    font-size:2rem !important;
}
.section1 img{
    height:100vh !important;
    width:100% !important;
}

.section3 i{
    font-size:3rem;
    text-align: center;
}

.section3 .card{
    box-shadow: 0px 1px  1px rgba(155, 141, 141, 0.767), 1px 0px  1px rgba(155, 141, 141, 0.767), -1px 0px  1px rgba(155, 141, 141, 0.767), 0px -1px 1px rgba(155, 141, 141, 0.767);
}
.sec5{
    border-radius:30px !important;
}
.sec5 p{
    font-size:1.4rem;
    line-height:12px;
}
.sec5 h5{
    font-size:1.5rem;
    line-height:22px;
}
.section5 img{
    height:35vh;
    border-radius:30px !important;
}
.sec5 button{
    border-radius:15px;
    background-color:white;
    border:none;
    padding:7px 18px;
    font-size:20px!important;
    transition:all 2s;
}
.sec5 i{
    font-size:20px!important;
    padding-right:3px;
    
}
.sec5 button:hover{
    transform:translateX(10px);
    transform:translateY(5px);
    background-color: aqua;
}
.section3ful i{
    
    color:#7c818a;
    animation-name:like;
    animation-duration: 5s;

}
@keyframes like{
    0%{
        transform:rotate(0deg);
        transform:translate3d(20px);
    }
    100%{
        transform:rotate(360deg);
        transform:translate3d(0px);
    }
}
@media screen and (max-width:500px){
    .sec1card{
        top:150px !important;

    }
    
}
@media screen and (min-width:820px) and (max-width:1200px){
    .section3 h2{
        height:62px;
    }
}

